<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <link rel="stylesheet" href="./css/style.css">
    <title>Todo List App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>		
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
		
		
	<script type="text/javascript">
	
		function editTitle(Id) {
			var newUrl = prompt('title');
		}
		
		function editSubtitle(Id) {
			var newUrl = prompt('subtitle');
		}
		
		function deleteTask(id) {
			$.ajax({
				url : '/admin/api/todos/' + id,
				method : 'delete',
				success : function(data) {

					var myToast = Toastify({
						text: "Todo removed successfully",
						duration: 2000
					});

					myToast.showToast();	
					loadItems();							
				}
			});  
		}
		
		function loadItems(){
			$.ajax({
				url : '/api/todos',
				method : 'get',
				success : function(data) {
					
					$('.task-box').html("");
					
					for(var i = data.length - 1; i >= 0; i--) {
						
						$('.task-box').append(`<li class="task">
                            <label> 
				                <div class="grid_two_btn">
				                	<div> <h4>${data[i].title} prova prova prova prova prova prova prova prova prova prova prova prova prova prova prova</h4></div>
				                	<div class="grid_el"><i class="fa fa-pencil" aria-hidden="true" onclick='editTitle(${data[i].id})'></i></div>
				                	<div class="grid_el"><i class="fa fa-trash" aria-hidden="true"  onclick='deleteTask(${data[i].id})' ></i></div>
				                </div>
				                
				                <div class="grid_one_btn">
				                	<div><p>${data[i].subtitle} prova prova prova prova prova prova prova prova prova prova prova prova prova prova prova</p></div>
				                	<div class="grid_el"><i class="fa fa-pencil" aria-hidden="true" onclick='editSubtitle(${data[i].id})'></i></div>
				                </div>
				                
                            </label>
				                
                        </li>
                        `);
                        
					}
					
				}
			});
			
		}

		$(document).ready(function() {
				
			
			loadItems();
			
			
		});
	</script>
	
  </head>
  <body>
    <div class="wrapper">
      <div class="controls">
        <div class="filters">
          <span>
				<a href="./">Home</a> 
		  </span>
          <span class="active">Admin</span>
        </div>
      </div>
      <ul class="task-box overflow"></ul>
    </div>
    
  </body>
  
</html>