
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <link rel="stylesheet" href="./css/style.css">
    <title>Todo List App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function() {
				
			$.ajax({
				url : '/api/todos',
				method : 'get',
				success : function(data) {
					
					$('.task-box').html("");
					
					for(var i = data.length - 1; i >= 0; i--) {
						
						$('.task-box').append(`<li class="task">
                            <label>
                                <h4 >${data[i].title}</h4>
                                <p >${data[i].subtitle}</p>
                            </label>
                        </li>`);
					}
						
				}
			});
			
		});
	</script>
	
  </head>
  <body>
    <div class="wrapper">
      <div class="controls">
        <div class="navs">
          <span class="active">Home</span>
          <span>
				<a href="./admin">Admin</a> 
		  </span>
        </div>
      </div>
      <ul class="task-box overflow"></ul>
    </div>
    
  </body>
  
</html>
